<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474237274381-kj8k7bvofjtgm5o1khpapov8m8nmfbin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474237274381-kj8k7bvofjtgm5o1khpapov8m8nmfbin</string>
	<key>API_KEY</key>
	<string>AIzaSyClZSlnMDtA_gLnngbNGHMDOu6oB-b2044</string>
	<key>GCM_SENDER_ID</key>
	<string>474237274381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mylearning</string>
	<key>PROJECT_ID</key>
	<string>blearning-system-app</string>
	<key>STORAGE_BUCKET</key>
	<string>blearning-system-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474237274381:ios:26053ee7df7ad3264f4844</string>
</dict>
</plist>